<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="fastfilesendEntities" connectionString="metadata=res://*/fastfilesend.csdl|res://*/fastfilesend.ssdl|res://*/fastfilesend.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=fastfilesend.mssql.somee.com;initial catalog=fastfilesend;persist security info=True;user id=fastfilesend_SQLLogin_1;password=TimeShift;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>